/* ------common styles ----------------- */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
:root {
  --main-color: #3a3a3a;
}

a,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  list-style: none;
  color: var(--main-color);
}

/*------------------------ Header starts------------------------- */

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 10%;
}

.brand-logo {
  color: var(--main-color);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: var(--main-color);
}

nav .fa-shopping-cart {
  color: #e02c6d;
}

.title h1 {
  color: var(--main-color);
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title p {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}

.booking-btn {
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border-radius: 41px;
  border: none;
  color: rgba(255, 255, 255, 0.89);
  font-weight: 700;
  font-size: 1rem;
  margin: 1.5rem 0;
  transition: all 0.2s ease-in-out;
}

.booking-btn:hover {
  box-shadow: 0 5px 15px rgba(224, 44, 110, 0.527);
  color: #fff;
}

.fas {
  margin: 0 9px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10%;
}

.product-banner {
  background: url(./images/Circle-design.svg);
  width: 475px;
  height: 475px;
}

.product-banner img {
  width: 440px;
  height: 414px;
}
/* ------------Header ends!!!----------- */

/* main content */

.collections {
  margin: 10px 20%;
}

.heading-collection {
  text-align: center;
  margin-bottom: 30px;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  height: 476px;
  width: 329px;
  background: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-left: 10px;
  margin: 20px;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
  scale: 1.04;
  transition: scale 0.3s ease-in-out;
}

.product img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin: 4% 2%;
}

.product p {
  color: #787885;
}

.product i {
  color: #fb8200;
  font-size: 13px;
  margin: 0px 0px;
}

.product h3 {
  display: inline;
  color: #5e6366;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.product h1 {
  font-weight: 500;
  font-size: 1.75em;
  color: #18191f;
  line-height: 40px;
}

.price {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 150%;
}

#see-more {
  color: #e02c6d;
  display: block;
  text-align: right;
  font-size: 1em;
  font-weight: 700;
}

/* -----------------Footer-------- */

footer {
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
}

footer div {
  color: #fff;
  text-align: center;
}

footer h1 {
  color: #fff;
}

/* Review */
.testimonials {
  padding: 40px 0;
  background: #fff;
  color: #434343;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #ff5959;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #fff;
  padding: 30px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars {
  color: #ff5959;
  margin-bottom: 20px;
}

/* Mobile Devices */

@media only screen and (max-width: 988px) {
  nav {
    padding: 30px;
  }

  .brand-logo {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav-links li {
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: var(--main-color);
  }

  .top-banner {
    flex-direction: column;
  }

  .product-banner {
    margin: 40px 0;
  }

  .title {
    order: 2;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 2px;
  }

  .collections {
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 1300px) {
  .collections {
    margin: 20px 20px;
  
}
  
}

@media only screen and (max-width: 480px) {
  nav {
    padding: 30px;
  }

  .brand-logo {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    transform: translateX(60px);
  }

  .nav-links li {
    display: none;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: var(--main-color);
  }

  .top-banner {
    flex-direction: column;
  }

  .product-banner {
    margin: 50px 0;
  }

  .title {
    order: 2;
  }
  .title h1 {
    font-size: 28px;
    line-height: 42px;
    text-align: center;
  }
  .title p {
    font-size: 12px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 2px;
  }

  .collections {
    margin: 20px 20px;
  }
  #see-more {
    text-align: center;
  }

  .row {
    flex-direction: column;
    justify-content: center;
  }
  .col {
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  footer h1 {
    font-size: 16px;
  }
  .fas {
    display: inline;
  }

  footer p {
    font-size: 12px;
  }
}
